<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <th:block th:insert="base :: header"></th:block>

</head>
<body>

<div th:replace="base :: nav"></div>


<h1 class="text-center text-white">Welcome to Code Work Academy Messaging
    App!</h1>

<div class="container bg-light ">

    <div class="my-4 "></div>
    <h2 class="text-center py-3 pl-4 pr-5">List of Messages</h2>
</div>

<div class="my-4" align="center">
    <table>

        <tr class="text-dark">
            <th class="pr-3">Content</th>
            <th class="pr-3">Sent By</th>
            <th class="pr-3">Date</th>
        </tr>

        <tr th:each="message : ${messages}">

            <!--<td th:text="${message.content}"></td>-->
            <!--<td th:text="${message.sender}"></td>-->
            <!--<td th:text="${message.date}"></td>-->

            <td><span th:inline="text" class="pr-4">[[${message.content}]]</span></td>
            <td><span th:inline="text" class="pr-4">[[${message.sender}]]</span></td>
            <td><span th:inline="text" class="pr-4">[[${message.date}]]</span></td>

            <td>
                <div sec:authorize="isAuthenticated()" class="nav-link text-warning" th:inline="text">
                    <button><a th:href="@{/detail/{id}(id=${message.id})}"/>Details</button>
                </div>

                <div sec:authorize="hasAuthority('ADMIN')" class="nav-link text-warning" th:inline="text">
                    <button><a th:href="@{/delete/{id}(id=${message.id})}"/>Delete</a> </button>
                </div>

            </td>
        </tr>

    </table>

    <br>
    <h5>Please login to add message!</h5>

    <table>
<tr>

    <td>
        <div sec:authorize="isAuthenticated()">
            <button class="btn btn-primary"><a class="text-white" href="/addmessage">Add Message</a></button>
        </div>
    </td>
    <td>
        <div sec:authorize="isAuthenticated()">
            <button class="btn btn-primary"><a class="text-white" href="/logout">Logout</a></button>
        </div>
        </td>
</tr>
    </table>

    <table>

    <td>
        <div sec:authorize="!isAuthenticated()">
            <button class="btn btn-primary"><a class="text-white" href="/login">Login</a></button>
        </div>
    </td>

        <td>
        <div sec:authorize="!isAuthenticated()">
            <button class="btn btn-primary"><a class="text-white" href="/register">Register</a></button>
        </div>

    </td>
    </tr>
    </table>

</div>

<div class="pb-5"></div>
</div>
</div>

<div class="emptySpace"></div>
<div class="emptySpace"></div>
<div th:replace="base:: footer"></div>
</body>
</html>