<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Details of all</title>
    <th:block th:insert="base :: header"></th:block>
</head>

<body>
<div th:replace="base :: nav"></div>

<div class="my-5"></div>
<div class="container bg-light ">
    <div class="my-4 "></div>
    <h2 class="text-center py-3 pl-4 pr-5">Message Details</h2>
    <div class="my-4" align="center">

        <table>
                <tr class="text-dark">
                    <th class="pr-3">Content</th> &nbsp;&nbsp;
                    <th class="pr-3">Sent By</th>&nbsp;&nbsp;
                    <th class="pr-3">Date</th>
                </tr>

                <tr>
                    <td><span th:inline="text" class="pr-4">[[${message.content}]]</span></td>
                    <td><span th:inline="text" class="pr-4">[[${message.sender}]]</span></td>
                    <td><span th:inline="text" class="pr-4">[[${message.date}]]</span></td>

                </tr>
        </table>
        <br>


        <td>
            <button class="btn btn-color"><a class="text-white" href="/">View All
                Messages</a></button>
            <button class="btn btn-color"><a class="text-white" th:href="@{/update/{id}(id=${message.id})}"> Update Post </a></button>

        </td>



</div>
</div>

<div class="emptySpace"></div>
<div th:replace="base:: footer"></div>
</body>
</html>